@font-face {
  font-family: "suisse-intl";
  src: url("~/assets/fonts/Suisse/Suisse Int'l/SuisseIntl-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "suisse-intl";
  src: url("~/assets/fonts/Suisse/Suisse Int'l/SuisseIntl-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "suisse-intl-mono";
  src: url("~/assets/fonts/Suisse/Suisse Int'l Mono/SuisseIntlMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "suisse-intl-mono";
  src: url("~/assets/fonts/Suisse/Suisse Int'l Mono/SuisseIntlMono-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}
