h1, h2, h3, h4 {
  font-family: $font-sans;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: .3px;
  transition: color $transition-default linear;
  font-weight: $font-weight-default;
  padding-right: 0.5rem;
  line-height: 1.2;

  &:not(.isAdministrative) {
    font-weight: $font-weight-bold;
  }

  &.isLightningTalk {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.8rem;
  letter-spacing: .3px;
  line-height: 1.5;
  font-weight: $font-weight-default;
}

span {
  font-family: $font-mono;

  &.time {
    font-size: 1.2rem;
    letter-spacing: .4px;
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 3px;
    transition: color $transition-default ease;
  }

  &.isKeynote {
    font-size: 0.8rem;
    display: inline-block;
    padding: .15em .4em;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #fff;
    background: #999;
  }
}

.isNow {
  h1, h2 {
    color: $color-accent;
  }

  .isKeynote {
    background: $color-accent;
  }
}

.isPast {
  color: rgba(0, 0, 0, 0.4);
}

.isDark {
  .isKeynote {
    color: #000;
    background: rgba(255, 255, 255, 0.8);
  }

  .isNow {
    h1, h2 {
      color: $color-accent;
    }

    .isKeynote {
      background: $color-accent;
    }
  }

  .isPast {
    color: rgba(255, 255, 255, 0.4);

    .isKeynote {
      color: #000;
      background: rgba(255, 255, 255, 0.4);
    }
  }
}

